* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: rgba(0, 0, 0, 0.2);
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

body {
	font-family: "Roboto", sans-serif;
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "lato", sans-serif;
}

main {
	width: 100vw;
	height: 90vh;
}

/* Buttons */
.btn {
	transition: all 0.3s ease-in-out;
}

.btn {
	width: 180px;
	height: 50px;
	border-radius: 50px;
	background-image: white;
	box-shadow: 0 20px 20px -6px rgba(109, 132, 175, 0.5);
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	color: #1d3158;
	font-weight: bold;
}

.btn:hover {
	transform: translateY(3px);
	box-shadow: none;
}

.btn:active {
	opacity: 0.5;
}
/* Buttons end */

#modules {
	width: 300px;
	padding-left: 20px;
}

/* xp-display */
#levels {
	height: 30vh;
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.xp-display {
	height: 100%;
	width: 28vw;
	border-radius: 10px;
	background: radial-gradient(circle, rgba(111, 191, 187, 1) 0%, rgba(129, 123, 223, 1) 100%, rgba(149, 210, 203, 1) 100%);
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* xp earned in a time period */
#pass-fail {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

table {
	border-collapse: collapse;
	font-size: 0.9em;
	width: 100px;
	max-height: 500px;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

th,
td {
	padding: 12px 15px;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}
