* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: rgba(0, 0, 0, 0.1);
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav {
}

body {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "lato", sans-serif;
}

main {
	width: 100vw;
	height: 90vh;
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
